.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tooplate_wrapper {
	width: 968px;
	padding: 10px 0;
	margin: 0 auto
}

#tooplate_header { 
	width: 948px; 
	height: 120px; 
	overflow: hidden; 
	padding: 0 10px; 
}
